<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.ardot.gov/wp-content/uploads/2020/07/cropped-android-chrome-512x512-1-300x300.png" />

    <!-- Jquery and associated pre-dependences -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap core library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- modal dialog boxes -->
    <link rel="stylesheet" href="css/micromodal.css">
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="@ViewData["slash"]css/style.css">

    <title>@ViewData["Title"]</title>

</head>

<body>
  
<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand" href="index.html">
          <img src="@ViewData["slash"]img/ARDOT_Logo.png" width="100">
      
      Roadway Inventory Database</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item @RenderSection("nav_Segments", required: false)">
              <a class="nav-link" href="@ViewData["slash"]segments.html">Segments <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  System Changes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item  @RenderSection("nav_nhs", required: false)" href="@ViewData["slash"]system_changes/nhs.html">NHS</a>
                  <a class="dropdown-item  @RenderSection("nav_func", required: false)" href="@ViewData["slash"]system_changes/func.html">Functional Class</a>
                  <a class="dropdown-item  @RenderSection("nav_apnh", required: false)" href="@ViewData["slash"]system_changes/aphn.html">APHN</a>
                  <a class="dropdown-item  @RenderSection("nav_special", required: false)" href="@ViewData["slash"]system_changes/special.html">Special Systems</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Quality Control
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item  @RenderSection("nav_quality", required: false)" href="@ViewData["slash"]quality_control">General Quality Control</a>
                  <a class="dropdown-item  @RenderSection("nav_quality_bulk", required: false)" href="@ViewData["slash"]bulk_validate">Bulk Validation</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" target="_blank" href="@ViewData["slash"]RI_Cheat_Sheet.pdf">RI Cheatsheet</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" target="_blank" href="@ViewData["slash"]help.pdf">Help</a>
          </li>

      </ul>
  </div>
</nav>
    @RenderBody()    
</body>
</html>