@using RoadInv.Models
@using RoadInv.DB
@model SearchPageModel
@{Layout = "_Layout.cshtml";}

@section nav_segments {
    active
}
@{
    ViewData["Title"] = "segments";
}

<style>
    #AH_BLM, #AH_Route, #AH_Section {
        width: 100%;
    }
</style>

<div id="segment-search-main-content master-grid">
    <div id="side-panel" class='split left'>
        <h3>Search</h3>
        <div >
            <div class="form-group">
                <label for='form-district'>District Number</label>
                <select class="form-control" id='@FieldsListModel.AH_District'>
                    <option value=""></option>
                    @foreach (var x in Model.con.AH_District)
                    {
                        <option @if (Model.filterDistrict == x.DistrictNumber.Trim()) { <text> selected</text> } value="@x.DistrictNumber.Trim()">@x.DistrictNumber.Trim() </option>
                    }
                </select>
            </div>
            <div class='form-group'>
                <label>County</label>
                <select id="@FieldsListModel.AH_County" class="form-control">
                    <option value=""></option>
                    @foreach (var u in Model.con.AH_County)
                    {
                        <option @if (Model.filterCounty == u.CountyNumber) { <text> selected</text> } value="@u.CountyNumber">@u.CountyNumber - @u.County</option>
                    }
                </select>

            </div>
            <div class='form-group'>
                <label>Route</label>
                <input id="@FieldsListModel.AH_Route" class="form-control" type='text' value="@Model.filterRoute" />
            </div>
            <div class='form-group'>
                <label>Section</label>
                <input id="@FieldsListModel.AH_Section" class="form-control" type='text' value="@Model.filterSection" />
            </div>
            <div class='form-group'>
                <label>Direction</label>
                <select id="@FieldsListModel.LOG_DIRECT" class="form-control" >
                    <option value=""></option>
                    @foreach(var u in Model.con.LOG_DIRECT)
            {
                <option @if (Model.filterDirection == u.Domainvalue) {<text>selected</text>} value="@u.Domainvalue">@u.Domainvalue - @u.Label </option>
            }
                </select>
            </div>
            <div>
                <label>Road Type</label>
                <select id="@FieldsListModel.TypeRoad" class="form-control">
                    <option value=""></option>
                    @foreach(var u in Model.con.TypeRoad)
            {
                <option @if (Model.filterTypeRoad == u.Domainvalue) { <text> selected</text> } value="@u.Domainvalue">@u.Domainvalue - @u.Label </option>
            }
                </select>
            </div>
            <div class='form-group'>
                <label>Logmile</label>
                <input id="@FieldsListModel.AH_BLM" class="form-control" type='text' value="@if (Model.filterLogmile != -1) { <text>@Model.filterLogmile</text>} " />
            </div>
            <div id="form-button-holder" class='form-group'>
                <button type="submit" id="submit-search" onclick="submitEventLoop()">Submit </button>
                <button id="clear-all">Clear All</button>
            </div>


        </div>
    </div>
    <div class='split-right'>
        <div class="master-grid grid-container">
            <div><h1>Roadway Inventory segments</h1></div>
            <div><a target="_blank" href="new_segment.html"><button id="new-seg-button">New segment</button></a></div>
        </div>

        <table>
            <tr>
                <th>Link</th>
                <th>Status</th>
                <th>District</th>
                <th>County</th>
                <th>Route</th>
                <th>Section</th>
                <th>Direction</th>
                <th>BLM</th>
                <th>ELM</th>
                <th>Length</th>
                <th>Route Sign</th>
                <th>Type Road</th>
                <th>Functional Class</th>
                <th>NHS</th>
            </tr>

            @foreach (var u in Model.details)
            {
                <tr>
                    <td> <a style="transform: rotate(90deg)" href='edit_segment.html?id=@u.Id'>Link</a> </td>
                    <td data-toggle="tooltip" data-placement="top" title="@foreach(var item in Model.con.SystemStatus){
                        if (item.Domainvalue == u.SystemStatus){
                            <text>@item.Domainvalue - @item.Label</text>
                        }
                    }">@u.SystemStatus</td>
                    <td data-toggle="tooltip" data-placement="top" title="ArDOT District @u.AhDistrict">@u.AhDistrict</td>
                    <td data-toggle="tooltip" data-placement="top" title="@foreach(var item in Model.con.AH_County){
                        if (item.CountyNumber == u.AhCounty){
                            <text>@item.CountyNumber - @item.County</text>
                        }
                    }">@u.AhCounty</td>
                    <td>@u.AhRoute</td>
                    <td>@u.AhSection</td>
                    <td>@u.LogDirect</td>
                    <td>@u.AhBlm</td>
                    <td>@u.AhElm</td>
                    <td>@u.AhLength</td>
                    <td data-toggle="tooltip" data-placement="top" title="@foreach(var item in Model.con.RouteSign){
                        if (item.Domainvalue == u.RouteSign){
                            <text>@item.Domainvalue - @item.Label</text>
                        }
                    }">
                    @u.RouteSign</td>
                    <td data-toggle="tooltip" data-placement="top" title="@foreach(var item in Model.con.TypeRoad){
                        if (item.Domainvalue == u.TypeRoad){
                            <text>@item.Domainvalue - @item.Label</text>
                        }
                    }">@u.TypeRoad</td>
                    <td data-toggle="tooltip" data-placement="top" title="@foreach(var item in Model.con.FuncClass){
                        if (item.Domainvalue == u.FuncClass){
                            <text>@item.Domainvalue - @item.Label</text>
                        }
                    }">@u.FuncClass</td>
                    <td data-toggle="tooltip" data-placement="top" title="@foreach(var item in Model.con.NHS){
                        if (item.Domainvalue == u.Nhs){
                            <text>@item.Domainvalue - @item.Label</text>
                        }
                    }">@u.Nhs</td>

                </tr>
            }


        </table>
    </div>
</div>

<!--Tooltips need to be initialized after the HTML elements are created-->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
            });
</script>
<script>

    //gathers input into a request string
    function submitEventLoop() {
        console.log("hello world!");
        var inputDistrict = $('#@FieldsListModel.AH_District option:selected').text();
        var inputCounty = $('#@FieldsListModel.AH_County option:selected').attr('value');
        var inputRoute = $('#@FieldsListModel.AH_Route').val();
        var inputSection = $('#@FieldsListModel.AH_Section').val();
        var inputLogmile = $('#@FieldsListModel.AH_BLM').val();

        var inputRoadtype = $("#@FieldsListModel.TypeRoad").val();
        var inputDirection = $("#@FieldsListModel.LOG_DIRECT").val();

        if (inputDistrict === undefined) {
            inputDistrict = "";
        }

        if (inputCounty === undefined) {
            inputCounty = "";
        }

        if (inputRoute === undefined) {
            inputRoute = "";
        }

        if (inputSection === undefined) {
            inputSection = "";
        }

        if (inputLogmile === undefined) {
            inputLogmile = -1;
        }

        if (inputRoadtype === undefined) {
            inputRoadtype = "";
        }

        if (inputDirection === undefined) {
            inputDirection = "";
        }


        console.log(inputDistrict);
        console.log(inputCounty);
        console.log(inputRoute);
        console.log(inputSection);
        console.log(inputLogmile);
        console.log(inputRoadtype);
        console.log(inputDirection);

        inputDistrict = 'district=' + inputDistrict.trim() + '&';
        inputCounty = 'county=' + inputCounty.trim() + '&';
        inputRoute = 'route=' + inputRoute.trim() + '&';
        inputSection = 'section=' + inputSection.trim() + '&';
        inputLogmile = 'logmile=' + inputLogmile.trim() + '&';
        inputRoadType = "typeroad=" + inputRoadtype.trim() + '&';
        inputDirection = "direction=" + inputDirection.trim();

        var searchString = "/segments?" + inputDistrict + inputCounty + inputRoute + inputSection + inputLogmile + inputRoadType + inputDirection;
        window.location.href = searchString;
        console.log(searchString);
        //$('#submit-search-link').attr("href", searchString);
    }

    //checks to see if the enter key has been pressed
    $(".form-group").keypress(function (e) {
        if (e.which == 13) {
            submitEventLoop();
            return false;
        }
    });

    // Re-add clear attributes option
    $("#clear-all").click(function () {
        $("#@FieldsListModel.AH_District").val("");
        $("#@FieldsListModel.AH_County").val("");
        $('#@FieldsListModel.AH_Route').val("");
        $('#@FieldsListModel.AH_Section').val("");
        $('#@FieldsListModel.AH_BLM').val("");
        $("#@FieldsListModel.TypeRoad").val("");
        $("#@FieldsListModel.LOG_DIRECT").val("");
    });
</script>