@using X.PagedList.Mvc.Core;
@model RoadInv.Models.SystemChangesPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*Need to addTagHelper globally*@

@{Layout = "_Layout.cshtml";}

@section nav_nhs {
    active
}

@{
    ViewData["Title"] = "NHS";
    ViewData["slash"] = "/";
    ViewBag.Title = "NHS";
}

<div id="segement-search-main-content master-grid"> 
    <div id="side-panel" class='split left'>
        <h3>Search</h3>

        <form>
            <div class="form-group">
                <label for='form-dissolve-method'>Dissolve</label>
                <select class="form-control" id='form-dissolve-method'>
                    <option></option>
                    <option value="1">Segement</option>
                    <option value="2">ARNOLD ID</option>
                </select>
            </div>
            <div class="form-group">
                <label for='form-district'>Distict Number</label>
                @Html.DropDownList("District", new List<SelectListItem>
                {
                    new SelectListItem{Text = "", Value = "" },
                    new SelectListItem{Text = "1", Value = "1" },
                    new SelectListItem{Text = "2", Value = "2" },
                    new SelectListItem{Text = "3", Value = "3" },
                    new SelectListItem{Text = "4", Value = "4" },
                    new SelectListItem{Text = "5", Value = "5" },
                    new SelectListItem{Text = "6", Value = "6" }
                }, "Select District", new { @class = "form-control"})
                

            </div>
            <div class='form-group'>
                <label>County</label>
                @Html.TextBox("County", "", new { @class = "form-control" })
            </div>
            <div class='form-group'>
                <label>Route</label>
                @Html.TextBox("Route", "", new { @class = "form-control" })
            </div>
            <div class='form-group'>
                <label>Section</label>
                @Html.TextBox("Section", "", new { @class = "form-control" })
            </div>
            <div class='form-group'>
                <label>Logmile</label>
                @Html.TextBox("Logmile", "", new { @class = "form-control" })
            </div>
            <div id="form-button-holder" class='form-group'>
                <input type="submit" value="Search" />
            </div>


        </form>
    </div>
    <div class='split-right'>
        <div class="master-grid grid-container" style="align-content: center; text-align: center;">
            <div><h1>System Change: NHS</h1> </div>
            <div><a target="_blank" href="../new_segement"><button id="new-seg-button">New NHS Segement</button></a></div>
        </div>
        <section>
            <h5>NHS Designation Summarized by: <span>ARNOLD ID</span> </h5>
            <table>
                <tr>
                    <th>ARNOLD ID</th>
                    <th>County</th>
                    <th>Section</th>
                    <th>Direction</th>
                    <th>BLM</th>
                    <th>ELM</th>
                    <th>Length</th>
                    <th>NHS</th>
                </tr>
                @foreach (var item in Model.roadInvs)
                {
            <tr>
                <td>N/A</td>
                <td>@Html.DisplayFor(modelItem => item.AhCounty)</td>
                <td>@Html.DisplayFor(modelItem => item.AhSection)</td>
                <td>@Html.DisplayFor(modelItem => item.LogDirect)</td>
                <td>@Html.DisplayFor(modelItem => item.AhBlm)</td>
                <td>@Html.DisplayFor(modelItem => item.AhElm)</td>
                <td>@Html.DisplayFor(modelItem => item.AhLength)</td>
                <td>@Html.DisplayFor(modelItem => item.Nhs)</td>
                <td><a target="_blank" href='../edit_segement.html?id=@item.Id'>Edit</a></td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
                }

            </table>
            <br />
            Page @(Model.roadInvs.PageCount < Model.roadInvs.PageNumber ? 0 : Model.roadInvs.PageNumber) of @Model.roadInvs.PageCount
            @Html.PagedListPager(Model.roadInvs, page => Url.Action("system_changes_nhs",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                district = Model.District,
                county = Model.County,
                route = Model.Route,
                section = Model.Section,
                logmile = Model.Logmile
            }), new X.PagedList.Web.Common.PagedListRenderOptionsBase { ActiveLiElementClass = "form-control" })

        </section>
        <section>
            <h5>Non-NHS Segements on NHS Routes</h5>
            <table>
                <tr>
                    <th>ARNOLD ID</th>
                    <th>RoadID</th>
                    <th>BLM</th>
                    <th>ELM</th>
                </tr>
                @foreach (var item in Model.ExcludeNhs)
                {
                    <tr>
                        <td>N/A</td>
                        <td>@Html.DisplayFor(modelItem => item.AhRoadId)</td>
                        <td>@Html.DisplayFor(modelItem => item.AhBlm)</td>
                        <td>@Html.DisplayFor(modelItem => item.AhElm)</td>
                        @*<td><a target="_blank" href='../edit_segement.html?id=@item.AhRoadId'>Edit</a></td>*@
                    </tr>
                }
            </table>
        </section>
    </div>
</div>